PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=maboko_cash
DB_SYNCHRONIZE=false
DB_MIGRATIONS_RUN=true

JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=1d
ADMIN_SIGNUP_PASSCODE=temporary_admin_passcode
FRONTEND_BASE_URL=http://localhost:3001

# Google Cloud Translation API
GCP_PROJECT_ID=your-google-cloud-project-id
GCP_KEY_FILENAME=/absolute/path/to/your/service-account.json
